@page
@model Personal_Website.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Information";
}
<h1>@ViewData["Title"]</h1>

<p>Email: jefeltner11@gmail.com<br />Github: https://github.com/jefeltner11</p>
