@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi, I'm James</h1>
    <p style="text-align: left;">   I'm a recent graduate from Brandeis University with a B.A. in Philosophy. I am a skilled writer
        and an excellent communicator with work experience in various professional fields. Currently, I make a living
        as a bank teller and working estate sales with my family. <br/> <br/>

        I love to learn new things and have dabbled in coding, foreign language, crafts, and competitive gaming, to name a few. I'm
        always looking for opportunities to develop my skills and learn new ones. Check out my Contact page, and let's connect!
    </p>
</div>
